header{
    background-color: cyan; 
    
}

nav{
    display: flex;
    /* flex-direction: row-reverse; */
    list-style: none;
    justify-content: space-around;
    font-weight: bold;
    margin: 0px;
    padding : 10px
    /* text-underline-offset: -15px; */
}

nav a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: lightgreen   ;
    background-color: white;
    border-radius: 5px;
    padding: 4px;

}

.dropdown {
    color: black;
    position: relative; /* Needed for absolute positioning of the dropdown */
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 45%;
    background-color: white;
    list-style: none;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.dropdown-menu li {
    padding: 5px;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: lightgray;
}

.dropdown:hover + .dropdown-menu, .dropdown-menu:hover {
            display: block;
            position: relative;
}