.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background-color: lightblue;
    padding: 30px;
    margin: 10px;

}

.grid-items{
    background-color: lightcoral;
    padding-top: 10px;
    border: 10px solid black;
    margin: 4px;
    text-align: center;
    font-size: 20px;
}